/* 第3問：参考サイトと同じになるようにデザイン調整 */
.App {
  padding: 30px;
}

.button {
  background-color: antiquewhite;
}

.label {
  font-weight: bold;
}

.input {
  height: 25px;
}

.label-input {
  display: flex;
  gap: 10px;
}

.book-register {
  display: flex;
  gap: 10px;
}

.filterable-book-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.filter-field{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}